/* Break point */

@media  (width > 768px) {
    .search{
      width: 50%;
    }
  }

  /* @media  (min-width:992px) {
    .search{
      width: 100%;
    }
  } */

  main{
    color:red;
    height: 100vh;
  }