.imagen-lista-productos{
    height: 10vh;
    width:10vh;
}

.td-favoritos{
    height: 10vh !important;
    vertical-align: middle;
    overflow: hidden;
    table-layout: fixed;
}

.pagination-style{
    vertical-align: middle;
}